*{
  margin: 0;
  padding: 0;
  
}
body::-webkit-scrollbar {
  display: none;
}
body{width:100%;
  background-color: #027353;
}

header{
  width:100%;
  height: 100px;
  display: flex;
  justify-content: space-between;
  background-color: #F2E1D8;
  
}
header img{
  background-color: aliceblue;
  
width: 100px;
height: 97px;
}
.bg{
  opacity: 1;
    transition: opacity 1s;
  width: 20%;
  font-size: 3vw;
  position: absolute;
  left: 10%;
  top: 40%;
  text-align: center;
color: #f1f1f1;

background: linear-gradient(90deg, rgba(46,79,14,0.2) 0%, rgba(67,108,150,1) 54%);
/* opacity: 0.8; */
padding: 3%;
}
/* .bg1{
  width: 20%;
  height: 30%;
  background-color: #f1f1f1;
  border: solid #f1f1f1;
  opacity: 0.5;
  position: absolute;
  left: 10%;
  top: 30%;
} */
/* .bg2{
  width: 20%;
  height: 10px;
  background-color: #f1f1f1;
  border: solid #f1f1f1;
  opacity: 0.5;
  position: absolute;
  left: 10%;
  top: 55%;
} */
nav{padding-top: 36px;
  
  margin-top:7px;
  padding-right: 20px;
  
}
nav a{

color:#F05A28;
padding: 10px;

  text-align: center;
text-decoration: none;
font-weight: 700;font-size: 1.5em;

}
header a:hover{
/* background-color:aliceblue; */
color: #03A678;
transition: 1s;
font-size: 25px;
}
.about{
  opacity: 1;
    transition: opacity 1s;
  margin: 0;
  justify-content: space-between;
 
 width: 100%;
  height:100%;


}
.title{
  width: 100%;
  height: 50%;
  /* filter: blur(1px); */
 
}
h1{ color: #03A678;
    font-size: 200px;
    padding-top: 30px;
    height:80.3px; 
    position: relative;
    left: 32px;
    top: -308px;
    width: 550px;
}
h2{font-size: 30px;
  width: 250px;
  padding-top: 30px;
  /* background-color: aliceblue; */
  height:80.3px; 
  text-align: center;
}
.v img{
    
    width: 200px;
    height: 251px;
    /* position:absolute;
    top: 111px; */
    background-color: aquamarine;
}
.vedio{
   
    width: 250px;
    height: 100px;
}
.content{
    margin: 0px;
}




/* 下拉式選單 */

.dropbtn {
  z-index: 3;
  position: fixed;
  top: 260px;
  
    width: 54px;
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }
  
  
  .dropdown {
    position:relative;
    display: inline-block;
  }
  
  
  .dropdown-content { 
    display: none;
    /* position:absolute; */
    position: fixed;
    top:330px;
    
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
 
  .dropdown-content a {
   
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  

  .dropdown-content a:hover {background-color: #f1f1f1}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
     /* position: fixed;
    top:150px; */
  
  }
.page-size{
  width: 90%;
margin: 0 auto;
  
}
p{ font-size: 1.2em;
  color: #F2E1D8 ;
  text-align: justify;
  padding:10px;
  background-color: #03A678;
  border-radius: 20px;
 
  
}
h2{position: relative;
  left: 10px;
  color: #F05A28;
  margin: 0;
}
.ul{margin: 0 auto;
}
.h3{
  position: relative;
  right: 10%;
  
}
.l{
  width: 125px;
  color: #F05A28;
  font-size: 30px;
  font-weight: 600;
  margin: 0 auto;
}
.box{
  display: flex;
  justify-content:space-between;
  width: 100%;
  
}
.box2{
  display: flex;
  justify-content:space-between;
  width: 100%;
 
}
.boxs-1{
  width: 100%;
}
.boxs-2{
  
  width: 100%;
}

li{margin-left: 20px;max-width: 500px;margin: auto;}
.p1{display: flex;
  justify-content: center;
  width: 100%;
  color: #F2E1D8;
}
.p2{
  width: 50%;
  
  font-size: 1em;
  color: #F2E1D8;
 
}
.rrr{
  display: flex;
  justify-content: space-between;
}
.rr{
  
  background:linear-gradient(90deg, rgba(240, 242, 238, 0.2) 0%, rgb(249, 249, 249, 0.9) 54%);
 
  border-radius: 30%;
  color: #03A678;
  font-weight: 600;
  display: block;
  width:20%;
  text-align: center;
}
.rr1{
  color: #F05A28;
  font-weight: 600;
  display: block;
  
  text-align: center;
}
.r{
  display: none;
}
.t{
  width: 100%;
}
h3{
  margin-bottom: 20px;
}
@media (max-width:1000px) {
  .box{
    flex-wrap: wrap;
    
  }
  .box2{
    
    flex-wrap:wrap-reverse;
    
  }
  .boxs-2{
    width: 70%;
    margin: 0 auto;
    height: 300px;
   
   
  }
  .boxs-1{
    width: 70%;
    /* height: 200px; */
    margin: 0 auto;
  }
  @media (max-width:540px){
    nav a{
      font-size: 1em;
  }
    .box{
      flex-wrap: wrap;
      
    }
    .box2{
      
      flex-wrap:wrap-reverse;
      
    }
    .boxs-2{
      width: 90%;
      margin: 0 auto;
      height: 300px;
      margin-bottom: 10px
     
    }
    .boxs-1{
      width: 90%;
     
      margin: 0 auto;
  }
  .p2{
    width: 100%;
    
  }
  .t{
    
    width: 100%;
  }
  p{
    font-size: 1em;

}
header{
  flex-wrap: wrap;
  height: 30%;
}
.img{
  height: 40px;
}
nav{
  width: 100%;
  text-align: center;
}
.bg{
position: absolute;
top: 20%;  
}
};
  /* .boxs-2{
    margin-bottom:-100px;
  } */
  /* .box{
    flex-wrap:wrap;
    margin-bottom: 50px;
  }
  .box2{
    flex-wrap:wrap-reverse;
    margin-bottom: 50px;
    margin-top: 50px;
  }
.boxs-1{
  width: 100%;
  margin-bottom: 50px;
}
.boxs-2{
  width: 100%;
  margin-bottom: 50px;
}
.boxs-2 iframe{margin-top: 50px;
  width: 100%;
  margin-bottom: 50px;
  
} */
}

